

.gMapCard {
  width: 100%;
  height: 100%;

  .gm-style {
    .gm-style-iw {

      .gm-style-iw-chr {
        display: none !important;
      }

      .gm-style-iw-d {
        padding: 12px 12px 0 12px !important;
      }
    }
  }
}