
.sponsorFormParent {

  &.isBeingFilled {
    width: 100%;
    max-width: min(75vw, 1220px);
    min-width: min(740px, 100vw);
    height: 100%;
    max-height: min(75vh, 1220px);
    min-height: min(740px, 100vh);
    &:after {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(10px);
      z-index: 999;
      animation: fadein .3s ease-in-out;
    }

    @media (max-width: 768px) {
      width: 100vw;
      height: 100vh;
      max-width: unset;
      min-width: unset;
      max-height: unset;
      min-height: unset;
      &:after {
        all: unset;
      }
    }
  }
  .mainContainer {
    width: 100%;
    min-height: 600px;

    &__topRight {
      clip-path: polygon(0 0, 100% 100%, 100% 0);
    }

    &__botLeft {
      clip-path: polygon(0 0, 0 100%, 100% 100%);
    }

    .formX {
      display: none;
    }

    &.isBeingFilled {
      background-color: #FFF;
      position: fixed;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      width: 100%;
      max-width: min(75vw, 1280px);
      min-width: min(740px, 100vw);
      height: 100%;
      max-height: min(75vh, 1280px);
      min-height: min(740px, 100vh);
      z-index: 1000;
      padding: 1.5rem 0;
      margin: auto;
      animation: fadein .3s ease-in-out;

      @media (max-width: 768px) {
        border-radius: unset;

        width: 100vw;
        height: 100dvh;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;

        &:after {
          all: unset;
        }
      }


      .formBreadcrumbContainer, .btnContainer {
        padding: 0 1.5rem;

        &.formBreadcrumbContainer {
          justify-content: start;
          padding-bottom: 1.5rem;
          margin: unset;
          max-width: 90%;
        }

        &.btnContainer {
          margin-top: 1.5rem;
        }
      }

      .formBodyContainer {
        overflow-y: auto;
        overscroll-behavior: contain;
        padding: 0 1.5rem;
        min-height: 50%;
      }

      .formX {
        display: initial;
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
      }

    }
  }
}
