.p-fileupload-content-wrapper {
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(226, 232, 240, 0.3);
  min-height: 252px;
}

.p-progressbar {
  .p-progressbar-value {
    background-color: #ff8100;
  }
}


.customCheckbox {
  .p-radiobutton-box {
    border-color: black;
    outline: none;
  }

  .p-radiobutton-icon {
    background-color: black;
  }
}
