
.share-container {
  position: relative;

  .secondary-btn {
    &:hover {
      img {
        filter: invert(1);
      }
    }
  }

  .share-modal {
    width: 320px;
    z-index: 9999999;
    position: absolute;
    background-color: #FFFFFF;
    bottom: 100%;
    padding: 10px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    box-shadow: 0 0 10px 0 #00000030;

    .shareBtns {
      svg {
        cursor: pointer;
      }
    }

    .linkContainer {
      p {
        border: 1px solid black;
        border-radius: 3px;
        max-width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 4px 10px;
      }

      img {
        filter: invert(.5);
        cursor: pointer;
        &:hover {
          filter: invert(0);
        }
      }
    }

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
}




