# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Build outputs
dist/
build/
out/
.next/
.nuxt/
.cache/

# Testing
coverage/
*.lcov
.nyc_output

# Environment
.env*
donaction-gcc-config.json

# Ne pas ignorer l'exemple
!.env.example

# Logs
logs/
*.log

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
*.tar

# Backups
*.backup
*.bak
*.tmp

# Git
.git/



.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
.angular

# leagacy
/logs
/docker-compose
