@use '../../../../styles/main.scss';

.formBodyContainer {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  padding: 0 1.5rem;
  min-height: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
