@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

.box-shadow {
  box-shadow: 0 4px 22px 0 #00000021;
}
