
.card {
  gap: 10px;
}

::ng-deep .otp-input {
  width: 30px !important;
  height: 30px !important;
  font-size: 16px !important;
}

@media screen and (max-width: 420px) {
  ::ng-deep .otp-input {
    width: 24px !important;
    height: 24px !important;
    font-size: 16px !important;
  }
}
.text-green{
  color: green;
}
img{
  object-fit: cover;
}
