<div class="flex flex-col justify-center items-center h-screen">
  <!-- Logout button -->
  @if (meDetails()?.klubr_membres?.length) {
    <div class="absolute top-0 right-0 m-4">
      <a [routerLink]="['/']" class="pi pi-times bg-[#E4E4E5] p-2 rounded-full text-black text-lg leading-4"
      aria-label="Exit"></a>
    </div>
  }

  <img src="assets/logoKlubr.svg" alt="Klubr logo" class="mb-5 w-22rem flex-shrink-0 max-w-[50%]">
  <div class="card text-center m-4 flex justify-content-center align-items-center flex-col p-0 md:w-[500px]">
    <div class="px-4 pt-4">
      <div class="font-bold text-2xl">Ajouter un klub</div>
      <div class="text-slate-500 text-lg">
        @if (members().length) {
          Confirmez le profil auquel vous allez être rattaché
        } @else if (klubs().length) {
          Saisissez vos informations personnelles pour créer votre profil
        } @else {
          Saisissez votre code d’équipe de 8 caractères
        }
      </div>
    </div>
    <hr class="w-full">

    @if (members().length) {
      @for (item of members(); track item) {
        <div class="my-2 px-4" @fade>
          <div class="flex items-center justify-between gap-2">
            <div class="flex items-center gap-2">
              <p-avatar
                [image]="item?.klubr?.logo | media : 'logo' : '2x'"
                size="large"
                shape="circle"
                class="avatar-logo"
                >
              </p-avatar>
              <div class="flex flex-col gap-0.5 items-start">
                <div
                  class="font-bold text-left text-ellipsis whitespace-nowrap overflow-hidden max-w-40 md:max-w-80">{{ item?.klubr?.denomination }}
                </div>
                <div
                  class="text-xs text-[#757575] text-left text-ellipsis whitespace-nowrap overflow-hidden max-w-40 md:max-w-80">{{ item?.nom + ' ' + item?.prenom }}
                  - {{ item?.fonction }}
                </div>
              </div>
            </div>
            <div class="flex gap-2">
              @if (item.role) {
                <app-role-tag [role]="item.role"></app-role-tag>
              }
            </div>
          </div>
        </div>
      }

      <div class="w-full flex justify-content-between align-items-center mt-4 px-4 pb-4">
        <span (click)="goBack()" class="cursor-pointer">Saisir un autre code</span>
        <p-button (click)="linkUser(members()![0])" label="Valider" severity="contrast"/>
      </div>

    } @else if (klubs().length) {
      @for (item of klubs(); track item) {
        <div class="my-2 px-4" @fade>
          <div class="flex items-center justify-between gap-2">
            <div class="flex items-center gap-2">
              <p-avatar
                [image]="item?.logo | media : 'logo' : '2x'"
                size="large"
                shape="circle"
                class="avatar-logo"
                >
              </p-avatar>
              <div class="flex flex-col gap-0.5 items-start">
                <div
                  class="font-bold text-left text-ellipsis whitespace-nowrap overflow-hidden max-w-40 md:max-w-80">{{ item?.denomination }}
                </div>
                <div
                  class="text-xs text-[#757575] text-left text-ellipsis whitespace-nowrap overflow-hidden max-w-40 md:max-w-80">
                  Membre du Klub
                </div>
              </div>
            </div>
            <div class="flex gap-2">
              <app-role-tag [role]="memberRole()"></app-role-tag>
            </div>
          </div>
        </div>
      }
      @if (isKlubCode()) {
        <form [formGroup]="profileForm" class="px-4 w-full">
          <div class="flex flex-col md:flex-row gap-2 md:gap-5 ">
            <div class="flex flex-col gap-2 items-start flex-1">
              <label class="font-semibold" for="prenom">Prénom<span class="text-red-700">*</span></label>
              <input pInputText id="prenom" type="text" placeholder="Prénom" formControlName="prenom" class="w-full"
                tabindex="1"
                     [ngClass]="{'ng-dirty': profileForm.controls['prenom'].dirty,
                                           'ng-invalid': profileForm.controls['prenom'].invalid && (profileForm.controls['prenom'].dirty || isSubmitted)}"/>
                <app-error-display [control]="profileForm.controls['prenom']"
                [isSubmitted]="isSubmitted()"></app-error-display>
              </div>
              <div class="flex flex-col gap-2 items-start flex-1">
                <label class="font-semibold" for="nom">Nom<span class="text-red-700">*</span></label>
                <input pInputText id="nom" type="text" placeholder="Nom" formControlName="nom" class="w-full"
                  tabindex="2"
                     [ngClass]="{'ng-dirty': profileForm.controls['nom'].dirty,
                                           'ng-invalid': profileForm.controls['nom'].invalid && (profileForm.controls['nom'].dirty || isSubmitted)}"/>
                  <app-error-display [control]="profileForm.controls['nom']"
                  [isSubmitted]="isSubmitted()"></app-error-display>
                </div>
              </div>
              <div class="flex flex-col gap-2 items-start flex-1 w-full">
                <label class="font-semibold" for="fonction">Fonction<span class="text-red-700">*</span></label>
                <p-select
                  class="w-full"
                  styleClass="customDropdown text-left"
                  id="fonction"
                  formControlName="fonction"
                  [options]="defaultKlubMemberFunctions"
                  [editable]="true"
                  placeholder="Fonction"
                  />
                  <app-error-display [control]="profileForm.controls['fonction']"
                  [isSubmitted]="isSubmitted()"></app-error-display>
                </div>
              </form>
            }

            <div class="w-full flex justify-content-between align-items-center mt-4 px-4 pb-4">
              <span (click)="goBack()" class="cursor-pointer">Saisir un autre code</span>
              <p-button (click)="linkUser(klubs()![0])" label="Valider" severity="contrast" tabindex="3"
                [disabled]="profileForm.pristine || !profileForm.valid"/>
              </div>

            } @else {
              <div class="flex justify-content-center align-items-center flex-col px-4 pb-5">
                <p-input-otp (onChange)="handlelinkCodeChange($event)" [length]="8"></p-input-otp>
                @if (hasError()) {
                  <div class="text-[#EF4444] mt-3">
                    <span class="pi pi-times p-2 rounded-full leading-4 border-1 border-[#EF4444] " aria-label="Exit"></span>
                    Ce code est inexistant !
                  </div>

                  <div class="w-full flex justify-content-center align-items-center mt-4">
                    <p-button (click)="clearOptInput()" label="Saisir un autre code" severity="contrast"/>
                  </div>
                }
              </div>
            }

          </div>
        </div>
        <ng-lottie
          class="fixed bottom-0 w-56 z-[-1] md:w-80"
          [options]="{path: 'assets/animations/basketball.json'}">
        </ng-lottie>
