.contributionToKlubr {
  width: 100%;

  @media screen and (max-width: 768px){
    .messageHint {
      max-width: unset !important;
      width: 100%;
      padding: 1rem !important;
    }
    .sliderContainer {
      max-width: unset !important;
      width: 100%;
    }
  }
  .messageHint {
    background-color: #F7F7F7;
    border-radius: 15px;
    padding: 1rem 3rem;
    font-size: 14px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 18px;
  }

  .smiley {
    max-width: 200px;
    margin: 0 auto;
  }

  .videoPlayerContainer {
    max-width: 80%;
    margin: 20px auto;
    @media screen and (max-width: 768px){
      max-width: unset;
      width: 100%;
    }
  }

  .sliderContainer {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    //gap: 1rem;

    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 30px;
      //background: #E3E8EF;
      //border-radius: 5px;
      outline: none;
      cursor: pointer;
    }

    /* Slider track */
    input[type="range"]::-webkit-slider-runnable-track {
      border-radius: 5px;
      height: 4px;
      background: linear-gradient(
                      to right,
                      #F79707 0%,
                      #F79707 calc(var(--value) * 1%),
                      #E3E8EF calc(var(--value) * 1%),
                      #E3E8EF 100%
      );
    }

    /* Slider thumb */
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 14px;
      height: 14px;
      background: #FFF;
      border: 1px solid #F79707;
      border-radius: 50%;
      cursor: pointer;
      transform: translateY(-4.5px);
    }

    ///* Active track styling (on hover) */
    input[type="range"]:hover::-webkit-slider-thumb {
      background: #F79707;
    }

    .rejectContributionLabel {
      margin-top: 6px;
      color: #5A5A5A;
      text-decoration: underline;
      text-underline-color: #5A5A5A;
      font-size: 11px;
      cursor: pointer;
      width: fit-content;
    }
  }
}
