
.clubPageContainer {
  width: 100%;
  max-width: min(90vw, 1220px);
  min-width: min(740px, 100vw);
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    min-width: 100%;
  }

  &__counterCont {
    span {
      font-family: "Maven Pro", sans-serif;
      //font-size: 60px;
      font-weight: 400;
    }
    div {
      //font-size: 18px;
      font-weight: 400;
    }

    &:nth-child(2) {
      position: relative;
      &:before,
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background: #000;
        position: absolute;
        border-radius: 10px;
      }

      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
}
