.p-tag {
  &.p-tag-rounded {
    font-size: .75rem;
    padding: .25rem .4rem;
  }

  &.p-tag-success {
    background: var(--green-100);
    color: var(--green-700)
  }

  &.p-tag-info {
    background: var(--blue-100);
    color: var(--blue-700)
  }

  &.p-tag-warn {
    background: var(--orange-100);
    color: var(--orange-700)
  }

  &.p-tag-danger {
    background: var(--red-100);
    color: var(--red-700)
  }
}
