.admin {
  &-h1 {
    border-bottom: 1px solid #E2E8F0;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    margin-bottom: 1.5rem;
    position: sticky;
    top: 5rem;
    z-index: 11;
    background: var(--white);
    @media (max-width: 768px) {
      top: 5rem;
      padding-top: 0.5rem;
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &-h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}
