
.taxReductionContainer {
  //display: flex;
  //flex-direction: column;
  //align-items: start;
  //justify-content: center;
  //gap: 10px;

  &__title {
    //font-size: 22px;
    //color: #0A7559;
  }

  &__hint {
    //width: 100%;
    //background-color: #F7F9FD;
    //padding: 16px;
    //font-size: 14px;
  }
}