<div class="flex mb-11 w-[65px] relative cursor-pointer">
  <p-avatar
    [image]="currentAvatar() | media : 'avatar' : '2x'"
    size="xlarge"
    shape="circle"
  ></p-avatar>
  <i class="pi pi-pencil rounded-full bg-[#E4E4E5] absolute bottom-0 right-0 p-2 " (click)="op.toggle($event)"></i>
</div>
<input #fileInput type="file" style="display: none;" (change)="onFileSelected($event)">
<p-popover #op>
  <ng-template #content>
    <div class="flex flex-col gap-2">
      <button class="font-semibold border-none outline-none bg-white flex items-center gap-2 cursor-pointer"
              (click)="openFileDialog(op)">
        <i class="pi pi-camera rounded-full bg-[#E4E4E5] p-2"></i>
        <span>Importer une photo</span>
      </button>
      <button class="font-semibold border-none outline-none bg-white flex items-center gap-2 cursor-pointer"
              (click)="show(op)">
        <i class="pi pi-user rounded-full bg-[#E4E4E5] p-2"></i>
        <span>Choisir un avatar</span>
      </button>
    </div>
  </ng-template>
</p-popover>
