.p-tabs {
  --p-tabs-tab-active-border-color: var(--black);
  --p-tabs-tab-active-color: var(--black);
  --p-tabs-tab-font-weight: 400;
  --p-tabs-tab-hover-background: transparent;
  --p-tabs-active-bar-height: 2px;

  .p-tab {
    --p-tabs-tab-background: var(--white);
    --p-tabs-tab-border-width: 0 0 2px 0;
  }

  .p-tab-active {
    border-color: transparent;
  }

  .p-tab-active {
  }
}
