@font-face {
  font-family: "Maven-Pro-Regular";
  src: url("static/MavenPro-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Maven-Pro-Bold";
  src: url("static/MavenPro-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Maven-Pro-semibold";
  src: url("static/MavenPro-SemiBold.ttf") format('truetype');
}
