{
  "dev": {
    "BASE_URL": "http://localhost:1437/api",
    "JWT": "REPLACE_ME",
    "KLUBR_SC_UUID": "REPLACE_ME",
    "KLUBR_LEGACY_UUID": "REPLACE_ME",
    "KLUBR_SC_DISABLED_UUID": "REPLACE_ME",
    "DONOR_UUID": "REPLACE_ME",
    "PROJECT_UUID": "REPLACE_ME",
    "TRADE_POLICY_DOC_ID": "REPLACE_ME"
  }
}
